body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: #0f172a;
}

.game {
  max-width: 640px;
  max-height: 480px;
  width: 100%;
  height: 100%;

  border: 0;
}
